body {
    background-color: #000000;
    margin-top: 56px; /* Altura de la barra de navegación */
}
.navbar {
    display: flex;
    flex-direction: column;
    background-color: #ccc; /* Fondo gris */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .navbar-nav {
    /* Eliminar puntos de la lista */
    list-style-type: none;
    padding: 0;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  .nav-link {
    color: #333;
    text-decoration: none;
  }
  .nav-link:hover {
    color: #007bff;
  }
.mensaje-bienvenida, /* Clase para el mensaje de bienvenida */
.imagen-bienvenida {
    opacity: 0;
    transition: opacity 1s ease;
}
/* Clases para mostrar el contenido progresivamente */
.mensaje-bienvenida.mostrar, 
.imagen-bienvenida.mostrar {
    opacity: 1;
}
.correo {
    opacity: 0;
    transition: opacity 2s ease;
}
.correo.mostrar {
    opacity: 1;
}
.role1 {
    opacity: 0;
    transition: opacity 2s ease;
}
.nombre {
    opacity: 0;
    transition: opacity 3s ease;
}
.nombre.mostrar {
    opacity: 1;
}
.role1 {
    opacity: 0;
    transition: opacity 4s ease;
}
.role1.mostrar {
    opacity: 1;
}
.role2 {
    opacity: 0;
    transition: opacity 4s ease;
}
.role2.mostrar {
    opacity: 1;
}
.contentRole {
    opacity: 0;
    transition: opacity 5s ease;
}
.contentRole.mostrar {
    opacity: 1;
}
.mensaje-bienvenida { /* Ajustar el estilo de la fuente */
    font-family: 'Anta', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.fontText { /* Ajustar el estilo de la fuente */
    font-family: 'Anta', sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.btn-custom-gold {
    background-color: #ffd700; /* Color dorado */
    border-color: #ffd700; /* Color del borde */
    color: #333; /* Color del texto */
}

.btn-custom-gold:hover {
    background-color: #daa520; /* Cambia el color de fondo al pasar el mouse */
    border-color: #daa520; /* Cambia el color del borde al pasar el mouse */
}