input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
.required{
  color: red;
}
main {
  height: 100vh !important; 
}
.eliminar-link {
  color: red;
}
.editar-link {
  color: yellow;
}
.agregar-link{
  color: white;
}
#check{
  fill: green;
}
#byid{
  border-color: #185BEA;
}
table, th, td {
  border: 3px solid black;
  border-color: black !important;
}
#tableid {
  box-shadow: 7px 6px 9px rgba(0, 0, 0, 0.7);
}
#tableid thead tr th {
  background-color: #185BEA; 
}

#tableid tbody tr td{
  background-color: #ABBBDE; 
}

html{
  background-color: #E5E5E5;
}
#registrarModal{
  background-color: rgba(0, 0, 0, 0.7);
}
#registrarModal .modal-content{
  background-color: #E5E5E5;
  box-shadow: 9px 7px 11px rgba(0, 0, 0, 0.9);
}
#registrarModal .modal-body label{
  color: black;
  font-size: 17px;
  font-weight: bold;
}
#registrarModal .modal-header{
background-color: gray;
}
#registrarModal .modal-title{
  font-size: 23px;
  font-weight: bold;
}

#actualizarModal .modal-title{
  color: black;
  font-size: 23px;
  font-weight: bold;
}
#actualizarModal .modal-header{
  background-color: gray;
  }

#actualizarModal{
  background-color: rgba(0, 0, 0, 0.7);
}
#actualizarModal .modal-content{
  background-color: #E5E5E5;
  box-shadow: 9px 7px 11px rgba(0, 0, 0, 0.9);
}
#actualizarModal .modal-body label{
  color: black;
  font-size: 17px;
  font-weight: bold;
}