input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
.required{
  color: red;
}
.eliminar-link {
  color: red;
}
.editar-link {
  color: yellow;
}
.agregar-link{
  color: green;
}
#check{
  fill: green;
}
#byid{
  border-color: black;
}